.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.game {
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: center;
    align-items: center;
    border: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: grey;
    margin: 2rem;
    box-shadow: 5px 3px 3px rgb(37, 37, 37);
}

h2 {
    color: green;
}

p {
    color: blue;
}

span {
    color: black;
}